h1{
  font-family:'Segoe UI';
  text-align: left;
  font-size: 80px;
  color: rgb(186, 148, 186);
  background-image: linear-gradient(to right, rgb(192, 29, 148) , black);
  padding: 50px;
}

h2{
  font-family:'Segoe UI';
  text-align: left;
  font-size: 80px;
  color: rgb(186, 148, 186);
  background-image: linear-gradient(to right, rgb(192, 29, 148) , black);
  padding: 50px;
}
h3{
  font-family:'Segoe UI';
  text-align: left;
  font-size: 80px;
  color: rgb(186, 148, 186);
  background-image: linear-gradient(to right, rgb(192, 29, 148) , black);
  padding: 50px;
}

.nav {
  text-align: right;
  font-family:'Segoe UI';
  padding: 20px;

}
