header{
  padding-top: 15px; 
  text-align:center;
  font-size:30px;
}
nav{
  /* padding-top: 15px; */
  /* margin-right: 20px; */
  /* float: left; */
  font-family: Georgia;
  font-size: 15px;
}

.padding-0 {
  padding: 0;
}

.section {
  display: flex;
    gap: 40px;
    align-items: baseline;
    margin-left: 6%;
}

.work-imgs {
  display: flex;
    width: 80%;
    flex-wrap: wrap;
}

header nav ul{
  list-style-type: none;
}

header nav ul li{
  display: inline-block;
  margin-left: 15px;
}
h1{
  font-family:'Segoe UI';
  text-align: left;
  font-size: 20px;

}

h2{
  font-family:'Segoe UI';
  text-align: left;
  font-size: 20px;
  color:whitesmoke;
  padding-top: 80px;
  padding: bottom 8px;
}
h3{
  font-family:'Segoe UI';
  text-align: left;
  font-size: 20px;
  color:whitesmoke;
  padding-top: 80px;
  padding: bottom 8px;
}

body{
  background-color: black;
  font-family:Georgia;
}

p{
  color:whitesmoke;
}

img{
  width: 315px;
  float:right;
}
.whitesmoke{
  color: whitesmoke;
}