/* css for the header */
header{
    padding-top: 15px; 
    text-align:center;
    font-size:50px;
  }

  /* To take away the bullets in nav bar */
  header nav ul{
    list-style-type: none;
  }
  
  header nav ul li{
    display: inline-block;
    margin-left: 15px;
  }

  nav{
    font-family:   'Poiret One', cursive;
    font-size: 15px;
    text-align:center;

  }

  /* .almond{
        color: #F2E2D2;
  } */
  
  /* css for the body */
  body{
    background-color: #0D1317;
    font-family:  'Poiret One', cursive;
    margin: 0; 
  }

  .almond{
    color: #f2e2d2
  }

 /* This code is to show the mainSlide only */
  .container div{
    height: 100vh;
    background-color:  #0D1317;
    box-sizing: border-box;
  }
  
.aboutSlide{
    height: 100vh;
    background-color: #f2e2d2;
    color: #0D1317;
    box-sizing: border-box;
    text-align:center
  }
 

 /* vertical 'AMY'-mainslide */
  .verticalName{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 100px;
    font-family:  'Poiret One', cursive;
    padding-top: 100px; 
    padding-left:300px;
    text-align:center;
  }




  #About-Me{
    font-size: 30px;
  }

  /* #carouselExampleFade div {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } */
