header{
    padding-top: 15px; 
    text-align:center;
    font-size:50px;
  }

  header nav ul{
    list-style-type: none;
  }
  
  header nav ul li{
    display: inline-block;
    margin-left: 15px;
  }

  nav{
    font-family:   'Poiret One', cursive;
    font-size: 15px;

  }

  .almond{
        color: #F2E2D2;
  }
  
  body{
    background-color: #0D1317;
    font-family:  'Poiret One', cursive;
  }

  .ashGray{
    color: #BCC1BA;
  }

  
  #About-Me{
    font-size: 30px;
  }

  #carouselExampleFade div {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
