header{
    padding-top: 15px; 
    text-align:center;
    font-size:30px;
  }

  header nav ul{
    list-style-type: none;
  }
  
  header nav ul li{
    display: inline-block;
    margin-left: 15px;
  }

  nav{
    font-family: Georgia;
    font-size: 15px;
  }

  body{
    background-color: black;
    font-family:Georgia;
  }

  .whitesmoke{
    color: whitesmoke;
  }

  #carouselExampleFade div {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
